body {

    font-family: "chaparral-pro", "Times New", Times, serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    overflow-x: hidden !important;

}


h1 {
    font-family: "chaparral-pro", "Times New", Times, serif !important;
    font-size: 1.6em !important;
    font-weight: 550 !important;
    text-transform: uppercase !important;
        letter-spacing: .2rem !important;
}


h2 {
    font-family: "chaparral-pro", "Times New", Times, serif !important; 
    font-size: 1.3em !important;
    font-weight: 550 !important;
    text-transform: uppercase !important;
        letter-spacing: .2rem !important;
}


h3, h4, h5 {
    font-family: "chaparral-pro", "Times New", Times, serif !important;
    font-size: 1.1em !important;
    font-weight: 550 !important;
    text-transform: uppercase !important;
        letter-spacing: .2rem !important;
}



.blurb h2 {
   color: #EA1C2C !important;
   font-weight: 100 !important;
   font-size: 2.5rem!important;
}

.blurb p {
    color: #f498b8 !important;
    font-weight: 100 !important;
    font-size: 1.125rem !important;
    line-height: 2 !important;
}

.content {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

#mainNavbar {
   background-color: #BF2F37 !important;
   border-bottom: 1px solid #2a2a2a !important;
   filter: drop-shadow(0px 5px 10px #555) !important;
    font-size: 1.5rem !important;
    font-weight: 100 !important;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}


/*
.jumbotron {
  color: white;
  background-image: url("http://www.gardner-webb.edu/Assets/gardnerwebb/marketing-landing-pages/mba-1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
*/


.background-cover {
    background-color: #000;
    width: 100%;
    height: auto;
    overflow: hidden;

}


.button {

}


.button:hover {
    background-color: #990000;
    color: #f2f2f2;
}


button, .button {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    background-color: #bb0000;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out;
    border-radius: 8px !important;
}


.address {
    font-weight: bold;
    font-weight: 600;
    color: #555;
}


.copyright {
    color: #666;
}

.copyright a {
    color: #444;
    text-decoration: underline;
}


.copyright a:hover, .footer-nav .copyright a:active, .footer-nav .copyright a:focus {
    text-decoration: none;
}